.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;

    color: rgb(0, 0, 0);
}

.left{
    max-width: 100%;
    margin-top: 20px;


    .friends-section{
        background-color: rgb(238, 238, 238);
        border-radius: 10px;
        max-width: 80%;
        padding: 30px 20px 40px;

        .friends-container-text{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .friends-container-images{
            display: grid;
            grid-template-columns: repeat(3,1fr);
    
            img{
                width:  150px;
                height: 150px;
                object-fit: cover;
                margin-bottom: 10px;
            }
        }
    }



}

.right{
    max-width: 100%;
    margin-top: 20px;
}