.following-user{
  display: flex; 
  align-items: center;
  background-color: #ade0db;
  color: rgb(93, 92, 92);
  border-radius: 10px;
  border: 1.5px solid #749693;
  box-shadow: 4px 4px 4px  #ccc;
  padding: 13px;

  img{
    max-width: 80px;
    margin-right: 10px;
    border-radius: 5px;
  }

  .following-user-text{
    p{
      margin: 0;
      line-height: 20px;
    }
  }

}