.grid{
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 5fr 1fr;



    .following{
        max-width: 100%;
        margin-top: 30px;
        position: fixed;
       


        h1{
            font-size: 20px;
        }
    }
}