.grid-section{
    margin-top: 50px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;


    img{
        max-width: 100%;
        border-radius: 5px;
    }
}