.finder{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;

    display: flex;
    grid-auto-flow: column;
    gap: 1rem;
}

.user-found-item{
    display: flex; 
    align-items: center;
    background-color: #ade0db;
    color: rgb(93, 92, 92);
    border-radius: 10px;
    padding: 13px;
}
.user-found-item img{
    max-width: 80px;
    margin-right: 10px;
}

.user-found-item-text p{
    margin: 0;
    line-height: 20px;
}

.user-found-item img{
    border-radius: 20px;
}