button{
    padding: 10px;
    border: none;
    background-color: #003e4f ;
    border-radius: 6px;
    color: white;
}
button:hover{
    background-color: #0086ab;
    transition: 0.5s;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}